@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    background-color: black;
}

#skill{
    position: absolute;
    bottom: -20em;
    
}
.sk{
    height: fit-content;
    background: transparent;
   margin-top: 25em;
}
#l{
    height: 54vh;
    margin-top: 25em;
}
h1{
    font-size: 20vh;
    color: antiquewhite;
}
.a{
    position: absolute;
    top: 57em;
}
.container2{
    margin-top: 2em;
    position: absolute;
    top: 55em;
}
*{
    scroll-behavior: smooth;
}
.q{
    position: absolute;
    top: 125%;
    left: 35%;
    z-index: 50;
}

.ass{
    position: absolute;
    top: 120%;
}.container4{
    position: absolute;
    top: 116%;
}